.article {
    background-color: #f5f5f5;
    font-family:  "微软雅黑", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin-bottom: 20px;
    box-shadow: 1px 1px 2px 0 #ccc;
    .article-title{
        position: relative;
        margin: 0px 20px;
        padding: 10px 0 5px 0;
        .date{
            color:#ccc;
        }
        .line{
            content: '';
            display: block;
            border-top: 1px solid #ddd;
            position: absolute;
            bottom: 0;
            width: 100%;
        }
    }
    .article-more{
        height: 20px;
        padding: 0 20px 10px 20px;
        text-align: right;
        a.link {
            padding: 1px 8px;
            border-radius: 1px;
            background-color: #222;
            color: #f2f2f2;
            font-size: 5px;
            position: relative;
            display: inline-block;
            overflow: hidden;
            line-height: 10px;
        }
        //.link::before{
        //    content: "";
        //    position: absolute;
        //    width: 100%;
        //    height: 1px;
        //    bottom: 0;
        //    left: 0;
        //    background-color: #000;
        //    visibility: hidden;
        //    transform: scaleX(0);
        //    transition-duration: 0.2s;
        //}
        //.link:hover::before {
        //    visibility: visible;
        //    transform: scaleX(1);
        //}
    }
    .article-entry {
        margin-bottom: 10px;
        //border: 1px solid #778899;
        background-color: #f5f5f5;
        line-height: 1.8em;
        padding-right: 20px;
        padding-left: 20px;
        p {
            margin-top: 10px;
        }
        p code, li code {
            padding: 1px 3px;
            margin: 0 3px;
            background: #ddd;
            border: 1px solid #ccc;
            font-family: Menlo, Monaco, "Andale Mono", "lucida console", "Courier New", monospace;
            word-wrap: break-word;
            font-size: 14px;
        }
        blockquote {
            background: #ddd;
            border-left: 5px solid #ccc;
            padding: 15px 20px;
            margin-top: 10px;
            border-left: 5px solid #657b83;
            background: #f6f6f6;
            p {
                margin-top: 0;
            }
        }
        em {
            font-style: italic;
        }
        ul {
            li:before {
                content: "";
                width: 6px;
                height: 6px;
                border: 1px solid #999;
                border-radius: 10px;
                background: #aaa;
                display: inline-block;
                margin-right: 10px;
                float: left;
                margin-top: 12px;
            }
        }
        ul, ol {
            font-size: 14px;
            margin: 10px 0px;
        }
        li {
            ul, ol {
                margin-left: 30px;
                li:before {
                    content: "";
                    background: #dedede;
                }
            }
        }
        h1 {
            margin-top: 30px;
        }
        h2 {
            margin-top: 20px;
            font-weight: 300;
            color: #574C4C;
            padding-bottom: 5px;
            border-bottom: 1px solid #ddd;
        }
        h3, h4, h5, h6 {
            margin-top: 20px;
            font-weight: 300;
            color: #574C4C;
            padding-bottom: 5px;
            border-bottom: 1px solid #ddd;
        }
        video {
            max-width: 100%;
        }
        strong {
            font-weight: bold;
        }
        .caption {
            display: block;
            font-size: 0.8em;
            color: #aaa;
        }
        hr {
            height: 0;
            margin-top: 20px;
            margin-bottom: 20px;
            border-left: 0;
            border-right: 0;
            border-top: 1px solid #DDD;
            border-bottom: 1px solid #FFF;
        }
        pre {
            font-size: 1 / 0.9em;
            line-height: 1.5;
            margin-top: 10px;
            padding: 5px 15px;
            overflow-x: auto;
            color: #657b83;
            font-size: 10px;
            border: 1px solid #ccc;
            text-shadow: 0 1px #444;
            font-family: Menlo, Monaco, "Andale Mono", "lucida console", "Courier New", monospace;
            code {
                font-size: 14px;
            }
        }
        table {
            width: 100%;
            border: 1px solid #dedede;
            margin: 15px 0;
            border-collapse: collapse;
            tr, td {
                height: 35px;
            }
            thead {
                tr {
                    background: #f8f8f8;
                }
            }
            tbody {
                tr:hover {
                    background: #efefef;
                }
            }
            td, th {
                border: 1px solid #dedede;
                padding: 0 10px;
            }
        }
        figure {
            table {
                border: none;
                width: auto;
                margin: 0;
                tbody {
                    tr:hover {
                        background: none;
                    }
                }
            }
        }
    }

    @import "highlight";
}