#mobile-nav {
  box-sizing: border-box;
  padding-top:40px;
  width: 100%;
  height: 180px;
  background-color: #fafafa;
  display: none;
  opacity: 0.9;
  font-family: Lato, "Microsoft Jhenghei", "Hiragino Sans GB", "Microsoft YaHei", sans-serif;

  a:hover, a:visited, a:link, a:active{
    color:#222;
    text-decoration: none;
  }
  a:hover {
    color:#555
  }
  h1{
    font-size: 22px;
    font-weight: bold;
    display: block;
    height: 45px;
    overflow: hidden;
    text-align: center;
  }
  .line-top {
    left: -100%;
    position: relative;
    display: block;
    height: 1px;
    background: #222;
  }
  .line-bottom {
    /*transform: translateX(100%);*/
    left: 100%;
    position: relative;
    display: block;
    height: 1px;
    background: #222;
  }
  .line-left {
    /*transform: translateY(-100%);*/

    position:relative ;
    top:100%;
    height: 100%;
    width: 1px;
    display: inline-block;
    background: #222;
  }
  .line-right {
    /*transform: translateY(100%);*/
    position:relative ;
    top:-100%;
    height: 100%;
    width: 1px;
    display: inline-block;
    background: #222;
  }
  .logo {
    position: relative;
    opacity: 0;
    display: inline-block;
    margin: 5px 0px;
  }
  .brand {
    display: inline-block;
    vertical-align: top;
    width: 150px;
    margin: auto;
    /*float: left;*/
    overflow: hidden;
  }
  .menu2 {
    opacity: 0;
    text-align: center;
    .menu-item2{
      font-size: 14px;

      display: inline-block;
      margin: 30px 10px 0 10px;
      a{
        display: block;
      }
      a:visited{
        color: #222;
      }
      a:active{
        background-color: #b3b689;
      }
    }
  }
}
#topBar{
  width: 100%;
  height: 50px;
  background-color:  #f5f5f5;
  display: none;
  .toolBar{
    position: absolute;
    top: 5px;
    left: 5px;
    width: 40px;
    height: 40px;
    background-color: #002b36;
  }
  h1{
    text-align: center;
    vertical-align: middle;
    line-height: 2;
  }
}
#topBar.fixed {
  display: block;
  position: fixed;
  z-index: 100;
  top: 0;
  border-bottom: 1px solid #222;
}