#container {
  position: relative;
  min-height: 100%;
  background-color: #eaeaea;
  padding-left: 300px;

}

#main {
  width: 100%;
}

#content {
  box-sizing: border-box;
  width: 100%;
  padding: 10px;
}
@import "_partials/article";
@import "_partials/sideBar";
@import "_partials/moblile-nav";
@import "_mobile";